version: '3.3'
services:
    # api:
    #     build: api/
    #     container_name: api
    #     depends_on:
    #         - postgres
    #         - front-end
    #     environment:
    #         DATABASE_URL: postgresql://user:password@192.168.77.4:5432/db?schema=public
    #         NODE_ENV: development
    #         PORT: 8080
    #         POSTGRES_USER: user
    #         POSTGRES_PASSWORD: password
    #         POSTGRES_DB: db
    #     ports:
    #         - "8080:8080"
    #     restart: on-failure
    #     networks:
    #         network:
    #             ipv4_address: 192.168.77.3

    # front-end:
    #     build: src/
    #     container_name: front-end
    #     depends_on:e
    
    #         - postgres
    #     ports:
    #         - "80:80"
    #     restart: on-failure
    #     networks:
    #         network:
    #             ipv4_address: 192.168.77.2


    postgres:
        image: postgres
        container_name: postgres
        hostname: postgres
        ports:
            - "5432:5432"
        environment:
            POSTGRES_USER: user
            POSTGRES_PASSWORD: password
            POSTGRES_DB: db
        # networks:
        #     network:
        #         ipv4_address: 192.168.77.4
        restart: unless-stopped

# networks:
#   network:
#     ipam:
#         driver: default
#         config:
#             - subnet: "192.168.77.0/24"
